# Ignore the app json files produced
apps/public/api/*/**/a/**/*.json
apps/public/api/*/**/l/**/*.json
apps/public/api/*/**/f/**/*.json
apps/public/api/*/**/w/**/*.json

# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
