---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <style>
    .dui-loading-5xl {
      width: calc(var(--size-selector, 0.25rem) * 20);
    }

    .showcase {
      @apply w-screen h-screen flex flex-col items-center justify-center;
    }
  </style>

  <div class="showcase">
    <span class="dui-loading dui-loading-spinner dui-loading-5xl"></span>

    <span class="text-xl font-mono mt-5">Redirecting, Please Wait...</span>
    <span class="text-md font-mono mt-1">~0.1 sec</span>
  </div>
</Layout>
