---
import { Image } from "astro:assets";
import logo from "../assets/1064x1064.png";
import { Separator } from "@/components/ui/separator";

const year = new Date().getFullYear();
---

<Separator client:visible />
<footer
  class="mt-auto w-full flex flex-col md:flex-row items-center justify-between gap-4 px-6 py-8 text-primary-content bg-muted border-t border-muted"
>
  <div class="flex flex-col items-center md:items-start gap-2">
    <section class="flex items-center gap-2">
      <Image
        src={logo}
        alt="AHQ Store Logo"
        width="250"
        height="250"
        class="w-[40px] h-[40px]"
        sizes="(max-width: 480px) 40px, (min-width: 481px) 40px"
        loading="lazy"
      />
      <span class="text-3xl font-mono font-bold text-primary">AHQ Store</span>
    </section>
    <p class="text-sm text-center md:text-left">
      Fully managed Distribution for your apps. The Open Sourced Store App
      designed for devs, by devs, from devs.
    </p>
  </div>

  <div
    class="flex flex-col items-center md:items-end gap-2 text-primary-content"
  >
    <section class="flex gap-4">
      <a
        href="/applications/api/v1/help.json"
        class="hover:text-primary transition-colors">API</a
      >
      <a
        href="https://ahqstore.github.io/tos/index.html"
        class="hover:text-primary transition-colors">TOS</a
      >
      <a
        href="https://ahqstore.github.io/privacy/index.html"
        class="hover:text-primary transition-colors">Privacy Policy</a
      >
    </section>
    <span class="text-sm text-center md:text-right mt-4">
      &copy; {year} AHQ Softwares. All rights reserved.
    </span>
  </div>
</footer>
