---
import type { HomeData } from "@/utils/interfaces/home";

interface Props {
  pageType: "windows" | "linux" | "fdroid";
  footer?: boolean;
}

import Image from "astro/components/Image.astro";

import { SearchBox } from "@/components/react/SearchBox";

import Layout from "@/layouts/Layout.astro";

import icon from "@/assets/1064x1064.png";
import Footer from "./Footer.astro";

const { pageType, footer } = Astro.props;
---

<Layout>
  <div class="flex flex-col w-screen h-screen overflow-hidden">
    <div class="flex flex-col w-screen h-full">
      <SearchBox pageType={pageType} client:idle>
        <Image
          src={icon}
          alt={"AHQ Store Logo"}
          fetchpriority={"high"}
          loading={"eager"}
          class={"h-[2rem] w-[2rem] my-auto cursor-pointer hover:invert-[15%] transition-all"}
          onclick={"window.location.href = 'https://ahqstore.github.io'"}
        />
      </SearchBox>

      <div
        class="w-screen h-[calc(100%-3rem)] flex flex-col overflow-x-hidden overflow-y-scroll"
      >
        <div class="w-full mb-auto pb-5">
          <slot />
        </div>
        {footer && <Footer />}
      </div>
    </div>
  </div>
</Layout>
